In [2]:
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import bindparam
import pandas as pd

In [3]:
SQL_CONNECTOR = 'mysql+pymysql://root:admin@localhost:3306/lop2teste'
#'mysql+pymysql://etl:admin@bdtestelop.lar.ect.ufrn.br:40000/lop2teste'
engine = create_engine(SQL_CONNECTOR)
con = engine.connect()

In [4]:
list_id01 = '4f3452ae-87d4-4a5f-9532-c7634da2cff0'
list_id02 = '70e6c800-7583-485d-ac9f-9c42c48dd785'
list_id03 = '42d5c4ad-7b44-4e4e-b2e5-2997785132c8'

list_id04 = 'dbfcc83c-f014-44ae-8260-f06d4e1370ba'
list_id05 = '70d1aa7e-00cb-4428-892f-9ac67cc50449'
list_id06 = 'f5b1d992-68de-4854-97d8-c4bd84bd593b'

list_id07 = 'dd1cd083-6c00-4605-9ff1-163bd4069363'
list_id08 = '0a2c49a2-482c-40d7-bc44-ee368f089560'
list_id09 = 'aca84206-87b2-4478-afa4-6193119cc06a'

list_id10 = '34691c68-f01d-46ad-808d-6bbd44bcd9a2'
list_id11 = '813dedaa-0989-489b-9804-3850ae4b83d1'
list_id12 = 'f5bc770d-2ac7-4060-ab1c-e42b5541f7a7'


list_id13 = '93cd33c4-109a-401e-87e9-e26ff5929d37'
list_id14 = 'c4d09d1b-73a5-45c6-8a0d-ead669114b65'
list_id15 = '1551e3ed-c875-4bb3-8e4e-58407df40776'

In [5]:
def alunos_por_classe(classes,conector):
    engine = create_engine(conector)
    con = engine.connect()
    query = text("SELECT id,enrollment,user_id,class_id FROM classHasUser where class_id = :id_classe").bindparams(id_classe = classes)
    alunos = pd.read_sql(query,con)
    con.close()
    return alunos

In [6]:
def submissoes_por_alunos(id_aluno,id_lista,id_classe):
    query = text("SELECT id,hitPercentage,timeConsuming,user_id,question_id,char_change_number,answer FROM submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class AND user_id = :id_aluno").bindparams(id_list_question = id_lista,id_class = id_classe,id_aluno = id_aluno)
    submissoes_alunos = pd.read_sql(query,con)
    return submissoes_alunos

In [7]:
def quantidade_de_questoes_por_assunto(listas):
    listas_com_quantidade = []
    for questoes in range(len(listas)):
        query = text("SELECT list_id,question_id from listHasQuestion where list_id = :questoes").bindparams(questoes = listas[questoes])
        df = pd.read_sql(query,con)
        df = df.question_id.nunique()
        listas_com_quantidade.append(df)
    return sum(listas_com_quantidade)

In [8]:
def acertos_listas(submissoes,quantidade_de_questoes):
    if submissoes.id.nunique() == 0:
        return [0,0,quantidade_de_questoes]
    else:
        acertos = submissoes.query('hitPercentage == 100').question_id.unique()
        parcial = []
        for i in range(len(submissoes.query('hitPercentage > 0 and hitPercentage < 100').question_id.unique())):
            if submissoes.query('hitPercentage > 0 and hitPercentage < 100').question_id.unique()[i] not in acertos:
                parcial.append(submissoes.query('hitPercentage > 0 and hitPercentage< 100').question_id.unique()[i])
        erros = (quantidade_de_questoes) - len(acertos) - len(parcial)
        return [len(acertos),len(parcial),erros]

In [9]:
def submissoes_assunto(listas_por_assunto,user_do_aluno,classe_do_aluno):
    
    submissoes_por_assunto = []
    
    for assuntos in listas_por_assunto:
        query = text("SELECT id,hitPercentage,timeConsuming,user_id,question_id,char_change_number,answer,class_id \
        FROM submission WHERE listQuestions_id = :list01 \
        AND class_id = :id_class AND user_id = :id_aluno\
        union all \
        SELECT id,hitPercentage,timeConsuming,user_id,question_id,char_change_number,answer,class_id \
        FROM submission WHERE listQuestions_id = :list02 \
        AND class_id = :id_class AND user_id = :id_aluno\
        union all\
        SELECT id,hitPercentage,timeConsuming,user_id,question_id,char_change_number,answer,class_id \
        FROM submission WHERE listQuestions_id = :list03 \
        AND class_id = :id_class AND user_id = :id_aluno").bindparams(list01 = assuntos[0],list02 = assuntos[1],list03 = assuntos[2],id_class = classe_do_aluno,id_aluno = user_do_aluno)
        df = pd.read_sql(query,con)
        submissoes_por_assunto.append(df)

    return submissoes_por_assunto

In [15]:
resultado = pd.DataFrame(columns = ['user_id','expressoes','estrutura_de_decisao','repeticao_condicional','repeticao_contada','vetores'])

auxiliar = 0
for aluno in alunos.user_id.unique():
    lista_com_resultado = [f'{aluno}']
    submissoes_dos_alunos = submissoes_assunto(conteudos,aluno,'8813d508-dc24-47e2-a33f-8d2ca66cab29')
    for i in range(len(conteudos)):
        quantidade_de_questoes = quantidade_de_questoes_por_assunto(conteudos[i])
        acertos = acertos_listas(submissoes_dos_alunos[i],quantidade_de_questoes)
        lista_com_resultado.append(acertos)
    resultado.loc[auxiliar] = lista_com_resultado
    auxiliar +=1
    lista_com_resultado

    

con.close()

In [16]:
resultado

,user_id,expressoes,estrutura_de_decisao,repeticao_condicional,repeticao_contada,vetores
0,c6ce5d7f-c3bf-4a24-b7e5-307d476f6507,"[26, 0, 1]","[37, 0, 0]","[7, 0, 15]","[0, 0, 17]","[0, 0, 20]"
1,d13069d4-68e1-46d2-bbef-279a7258a214,"[27, 0, 0]","[37, 0, 0]","[21, 1, 0]","[4, 0, 13]","[0, 0, 20]"
2,526fc64d-54d3-46a9-9260-fcdc92b97f9e,"[27, 0, 0]","[37, 0, 0]","[21, 0, 1]","[0, 0, 17]","[0, 0, 20]"
3,1e020022-8c20-45d4-8ce0-595bbe01a2b3,"[27, 0, 0]","[37, 0, 0]","[22, 0, 0]","[17, 0, 0]","[20, 0, 0]"
4,51497b50-c8ed-47bb-8186-29c1ba02094b,"[27, 0, 0]","[36, 1, 0]","[17, 0, 5]","[0, 0, 17]","[0, 0, 20]"
...,...,...,...,...,...,...
131,b23d1d5e-8acf-4b11-b2b9-53ebdc3fde45,"[27, 0, 0]","[33, 0, 4]","[7, 0, 15]","[0, 0, 17]","[0, 0, 20]"
132,7395f382-4e51-46f4-8f11-4bc56e20366a,"[14, 0, 13]","[18, 1, 18]","[0, 0, 22]","[0, 0, 17]","[0, 0, 20]"
133,a97ad784-80ac-461c-a38e-7e1ea73aa4f8,"[27, 0, 0]","[37, 0, 0]","[22, 0, 0]","[15, 0, 2]","[0, 0, 20]"
134,8f76f1fd-0b21-43dd-b6ab-1d77506e8021,"[27, 0, 0]","[37, 0, 0]","[9, 0, 13]","[0, 0, 17]","[0, 0, 20]"
135,9499687e-eb7d-47f1-8719-e817a9a16832,"[27, 0, 0]","[37, 0, 0]","[14, 0, 8]","[0, 0, 17]","[0, 0, 20]"

In [11]:
turma = '8813d508-dc24-47e2-a33f-8d2ca66cab29'

In [12]:
expressoes = [list_id01,list_id02,list_id03]
estrutura_decisao = [list_id04,list_id05,list_id06]
repeticao_condicional = [list_id07,list_id08,list_id09]
repeticao_contada = [list_id10,list_id11,list_id12]
vetores = [list_id13,list_id14,list_id15]
conteudos = [expressoes,estrutura_decisao,repeticao_condicional,repeticao_contada,vetores]

In [13]:
alunos = alunos_por_classe(turma,SQL_CONNECTOR)

In [14]:
alunos

,id,enrollment,user_id,class_id
0,01c4654f-d434-438a-9acb-9c89a3ab745d,20240008987,c6ce5d7f-c3bf-4a24-b7e5-307d476f6507,8813d508-dc24-47e2-a33f-8d2ca66cab29
1,0730fc1d-7553-4537-a6a6-f6c37d8f893e,20240047180,d13069d4-68e1-46d2-bbef-279a7258a214,8813d508-dc24-47e2-a33f-8d2ca66cab29
2,09f438a9-17ad-4b3f-96c2-267d26b25730,20240013771,526fc64d-54d3-46a9-9260-fcdc92b97f9e,8813d508-dc24-47e2-a33f-8d2ca66cab29
3,0adc04e6-9624-458c-9323-a3256f598a92,20240016610,1e020022-8c20-45d4-8ce0-595bbe01a2b3,8813d508-dc24-47e2-a33f-8d2ca66cab29
4,0bf84b68-7f13-4070-8f10-3c2b35dfc168,20240014984,51497b50-c8ed-47bb-8186-29c1ba02094b,8813d508-dc24-47e2-a33f-8d2ca66cab29
...,...,...,...,...
131,f6fea3ac-70fe-4b3b-9c78-4b33ea5d0628,20240010330,b23d1d5e-8acf-4b11-b2b9-53ebdc3fde45,8813d508-dc24-47e2-a33f-8d2ca66cab29
132,fade3ddc-eecc-4dfa-b622-92c4aaf52f10,20240021281,7395f382-4e51-46f4-8f11-4bc56e20366a,8813d508-dc24-47e2-a33f-8d2ca66cab29
133,fbe82456-a666-4c26-9133-7c5b99587de8,20240013815,a97ad784-80ac-461c-a38e-7e1ea73aa4f8,8813d508-dc24-47e2-a33f-8d2ca66cab29
134,fcbdf493-9877-49a8-94f9-050297f5aa26,202200779222,8f76f1fd-0b21-43dd-b6ab-1d77506e8021,8813d508-dc24-47e2-a33f-8d2ca66cab29
135,fd39b8e6-a263-468c-82fe-a39bccb13138,20230092000,9499687e-eb7d-47f1-8719-e817a9a16832,8813d508-dc24-47e2-a33f-8d2ca66cab29

In [17]:
resultado.to_csv('desempenho_estudante_turma.csv',index=False,sep = ',')