In [81]:
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import bindparam
import pandas as pd
import json

In [20]:
SQL_CONNECTOR = 'mysql+pymysql://root:admin@localhost:3306/lop2teste'
engine = create_engine(SQL_CONNECTOR)
con = engine.connect()

In [10]:
def criacao_da_turma(turma,con):
    query = text("SELECT createdAt FROM lop2teste.class where id = :turma").bindparams(turma = turma)
    data_de_criacao = pd.read_sql(query,con)
    return data_de_criacao

In [13]:
data = criacao_da_turma("8813d508-dc24-47e2-a33f-8d2ca66cab29",con)
print(data.createdAt.unique()[0])

2024-02-26 02:30:11

In [34]:
def submissoes_por_data(data_da_turma,turma,con):
    query = text("SELECT id,createdAt,user_id from submission where createdAt > :data_da_turma and class_id = :turma").bindparams(data_da_turma = f'{data_da_turma}',turma = turma)
    submissoes_desde_criacao = pd.read_sql(query,con)
    return submissoes_desde_criacao

In [35]:
turma = "8813d508-dc24-47e2-a33f-8d2ca66cab29"

In [36]:
submissoes_desde_criacao = submissoes_por_data(data.createdAt.unique()[0],turma,con)
submissoes_desde_criacao

,id,createdAt,user_id
0,0000e551-7440-469b-bd42-632168369f06,2024-04-05 20:00:19,2e321555-ab39-412c-8fcf-bcbd5190176d
1,0000f180-c904-4f7f-b5f3-341fb4efb1f0,2024-04-03 17:48:13,ca2160d8-4a8f-4a4c-8368-24dac6bf0107
2,00010133-49e9-49ef-ad95-13d15b6ebbb1,2024-03-16 18:24:45,761b93d2-c13a-488c-9f82-b6bcabd59e16
3,000447ac-25db-47c4-86f7-e2f789d94f44,2024-03-05 01:53:03,219cda96-a590-4794-a539-45eb5d0d81ba
4,00048f88-60c9-48ad-8e55-542c30783cbd,2024-03-19 14:52:52,d13069d4-68e1-46d2-bbef-279a7258a214
...,...,...,...
46433,fffc4a42-48e1-473d-9be5-7e89921179fd,2024-04-13 16:56:32,7d8434a4-12ce-4b6d-8b03-a76ad3082013
46434,fffd2f12-596d-40cc-8eba-f302e7adb4f1,2024-04-08 23:16:55,68ce344f-e54f-476c-8b7e-c91d91f4cd5b
46435,fffd53a5-6f3d-4aa1-896f-8a1e14bf2e32,2024-03-06 18:02:31,91513b23-fe58-4d92-b1c8-01045838d465
46436,fffda5d8-c0fe-4bb7-ad38-84ee38dd6766,2024-03-17 19:05:18,d13069d4-68e1-46d2-bbef-279a7258a214
46437,ffffd89e-3460-4d7e-9c0d-23e52d9d724c,2024-03-11 16:57:14,b2f7d7ef-3509-4a3b-a833-f5e3144ed31b

In [38]:
submissoes_desde_criacao.createdAt = submissoes_desde_criacao.createdAt.dt.date

In [39]:
submissoes_desde_criacao

,id,createdAt,user_id
0,0000e551-7440-469b-bd42-632168369f06,2024-04-05,2e321555-ab39-412c-8fcf-bcbd5190176d
1,0000f180-c904-4f7f-b5f3-341fb4efb1f0,2024-04-03,ca2160d8-4a8f-4a4c-8368-24dac6bf0107
2,00010133-49e9-49ef-ad95-13d15b6ebbb1,2024-03-16,761b93d2-c13a-488c-9f82-b6bcabd59e16
3,000447ac-25db-47c4-86f7-e2f789d94f44,2024-03-05,219cda96-a590-4794-a539-45eb5d0d81ba
4,00048f88-60c9-48ad-8e55-542c30783cbd,2024-03-19,d13069d4-68e1-46d2-bbef-279a7258a214
...,...,...,...
46433,fffc4a42-48e1-473d-9be5-7e89921179fd,2024-04-13,7d8434a4-12ce-4b6d-8b03-a76ad3082013
46434,fffd2f12-596d-40cc-8eba-f302e7adb4f1,2024-04-08,68ce344f-e54f-476c-8b7e-c91d91f4cd5b
46435,fffd53a5-6f3d-4aa1-896f-8a1e14bf2e32,2024-03-06,91513b23-fe58-4d92-b1c8-01045838d465
46436,fffda5d8-c0fe-4bb7-ad38-84ee38dd6766,2024-03-17,d13069d4-68e1-46d2-bbef-279a7258a214
46437,ffffd89e-3460-4d7e-9c0d-23e52d9d724c,2024-03-11,b2f7d7ef-3509-4a3b-a833-f5e3144ed31b

In [40]:
submissoes_desde_criacao['createdAt'] = pd.to_datetime(submissoes_desde_criacao['createdAt'])

In [41]:
submissoes_desde_criacao = submissoes_desde_criacao.sort_values(by='createdAt')

In [42]:
submissoes_desde_criacao

,id,createdAt,user_id
41834,e6bed048-b3fb-4e48-b864-6c09c42053b8,2024-02-28,586a6729-0441-40ab-a05b-6e83bf84f865
26683,92dcd294-a15c-42aa-b846-655d92bb6dd9,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
30037,a5790cb7-b119-439c-af4f-acc16c33fd08,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
17384,5fcf295b-5e88-4c78-87f8-845c71d3cc9b,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
32324,b2055505-c851-4a9f-8cfa-ec6aa14c7dc7,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
...,...,...,...
10347,39961570-c7ae-4718-b5bc-2fc4dbd57300,2024-06-08,daaeb900-282d-4cf1-9b59-105879e52684
38389,d39df2bd-635c-4875-b391-c0ba36d3928c,2024-06-08,daaeb900-282d-4cf1-9b59-105879e52684
44993,f818cfbf-0c33-4066-8d6b-e9a249bce1ff,2024-06-08,9499687e-eb7d-47f1-8719-e817a9a16832
30201,a668f239-2166-49dc-b980-0cffc4282c7e,2024-06-08,9499687e-eb7d-47f1-8719-e817a9a16832
7443,29722ea6-db55-46e0-8602-bbd8c6f74946,2024-06-08,daaeb900-282d-4cf1-9b59-105879e52684

In [43]:
submissoes_desde_criacao.createdAt = submissoes_desde_criacao.createdAt.dt.strftime('%d-%m-%y')

In [44]:
submissoes_desde_criacao

,id,createdAt,user_id
41834,e6bed048-b3fb-4e48-b864-6c09c42053b8,28-02-24,586a6729-0441-40ab-a05b-6e83bf84f865
26683,92dcd294-a15c-42aa-b846-655d92bb6dd9,29-02-24,a058d605-bcd2-41ad-a204-c4c05916ace2
30037,a5790cb7-b119-439c-af4f-acc16c33fd08,29-02-24,a058d605-bcd2-41ad-a204-c4c05916ace2
17384,5fcf295b-5e88-4c78-87f8-845c71d3cc9b,29-02-24,a058d605-bcd2-41ad-a204-c4c05916ace2
32324,b2055505-c851-4a9f-8cfa-ec6aa14c7dc7,29-02-24,a058d605-bcd2-41ad-a204-c4c05916ace2
...,...,...,...
10347,39961570-c7ae-4718-b5bc-2fc4dbd57300,08-06-24,daaeb900-282d-4cf1-9b59-105879e52684
38389,d39df2bd-635c-4875-b391-c0ba36d3928c,08-06-24,daaeb900-282d-4cf1-9b59-105879e52684
44993,f818cfbf-0c33-4066-8d6b-e9a249bce1ff,08-06-24,9499687e-eb7d-47f1-8719-e817a9a16832
30201,a668f239-2166-49dc-b980-0cffc4282c7e,08-06-24,9499687e-eb7d-47f1-8719-e817a9a16832
7443,29722ea6-db55-46e0-8602-bbd8c6f74946,08-06-24,daaeb900-282d-4cf1-9b59-105879e52684

In [59]:
df = pd.DataFrame(columns = ['data','qnt_de_submissoes'])
teste = submissoes_desde_criacao.query("createdAt == '29-02-24'").id.unique()
linhas = 0
for data in submissoes_desde_criacao.createdAt.unique():
    quantidade = submissoes_desde_criacao.query(f"createdAt == '{data}'").id.nunique()
    resultado = [data,quantidade]
    df.loc[linhas] = resultado
    linhas+=1

In [60]:
df

        data  qnt_de_submissoes
0   28-02-24                  1
1   29-02-24                 13
2   03-03-24                 37
3   04-03-24               3249
4   05-03-24                858
..       ...                ...
89  04-06-24                111
90  05-06-24                 36
91  06-06-24                 14
92  07-06-24                 37
93  08-06-24                 93

[94 rows x 2 columns]

In [61]:
df.to_csv('submissoes_por_dia.csv',index = False,sep = ',')

In [ ]:
con.close()

# Transformando em JSON

In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_csv('submissoes_por_dia.csv',sep = ',')

In [6]:
turma = ['8813d508-dc24-47e2-a33f-8d2ca66cab29']

In [17]:
lista = []

for submissoes in range(len(turma)):
    dict_submissoes = dict()
    dict_submissoes['class_id'] = turma[0]
    dict_submissoes['data'] = []
    for data in range(len(df.data.unique())):
        dict_datas = dict()
        dict_datas[df.data.loc[data]] = f'{df.qnt_de_submissoes.loc[data]}'
        dict_submissoes['data'].append(dict_datas)
    lista.append(dict_submissoes)

In [18]:
lista

[{'class_id': '8813d508-dc24-47e2-a33f-8d2ca66cab29',
  'data': [{'28-02-24': '1'},
   {'29-02-24': '13'},
   {'03-03-24': '37'},
   {'04-03-24': '3249'},
   {'05-03-24': '858'},
   {'06-03-24': '1204'},
   {'07-03-24': '305'},
   {'08-03-24': '189'},
   {'09-03-24': '457'},
   {'10-03-24': '313'},
   {'11-03-24': '4131'},
   {'12-03-24': '477'},
   {'13-03-24': '1475'},
   {'14-03-24': '823'},
   {'15-03-24': '282'},
   {'16-03-24': '630'},
   {'17-03-24': '451'},
   {'18-03-24': '4205'},
   {'19-03-24': '945'},
   {'20-03-24': '1354'},
   {'21-03-24': '694'},
   {'22-03-24': '342'},
   {'23-03-24': '587'},
   {'24-03-24': '807'},
   {'25-03-24': '3625'},
   {'26-03-24': '836'},
   {'27-03-24': '1348'},
   {'28-03-24': '349'},
   {'29-03-24': '588'},
   {'30-03-24': '128'},
   {'01-04-24': '1491'},
   {'02-04-24': '480'},
   {'03-04-24': '421'},
   {'04-04-24': '123'},
   {'05-04-24': '329'},
   {'06-04-24': '341'},
   {'07-04-24': '229'},
   {'08-04-24': '2152'},
   {'09-04-24': '376'},
   {'10-04-24': '607'},
   {'11-04-24': '541'},
   {'12-04-24': '1367'},
   {'13-04-24': '1388'},
   {'14-04-24': '347'},
   {'15-04-24': '1584'},
   {'16-04-24': '189'},
   {'17-04-24': '524'},
   {'18-04-24': '114'},
   {'19-04-24': '118'},
   {'21-04-24': '32'},
   {'22-04-24': '153'},
   {'23-04-24': '112'},
   {'24-04-24': '211'},
   {'25-04-24': '215'},
   {'26-04-24': '104'},
   {'27-04-24': '59'},
   {'28-04-24': '58'},
   {'29-04-24': '82'},
   {'30-04-24': '92'},
   {'01-05-24': '125'},
   {'02-05-24': '97'},
   {'03-05-24': '93'},
   {'04-05-24': '31'},
   {'05-05-24': '86'},
   {'06-05-24': '135'},
   {'07-05-24': '63'},
   {'08-05-24': '30'},
   {'09-05-24': '44'},
   {'10-05-24': '88'},
   {'11-05-24': '27'},
   {'12-05-24': '1'},
   {'14-05-24': '62'},
   {'15-05-24': '33'},
   {'16-05-24': '51'},
   {'17-05-24': '28'},
   {'18-05-24': '104'},
   {'20-05-24': '93'},
   {'22-05-24': '4'},
   {'23-05-24': '85'},
   {'24-05-24': '38'},
   {'25-05-24': '27'},
   {'26-05-24': '36'},
   {'27-05-24': '26'},
   {'28-05-24': '51'},
   {'29-05-24': '26'},
   {'30-05-24': '2'},
   {'01-06-24': '28'},
   {'02-06-24': '77'},
   {'03-06-24': '14'},
   {'04-06-24': '111'},
   {'05-06-24': '36'},
   {'06-06-24': '14'},
   {'07-06-24': '37'},
   {'08-06-24': '93'}]}]

In [22]:
with open('submissoes_por_dia.json', 'w', encoding='utf-8') as f:
    json.dump(lista, f, ensure_ascii=False, indent=4)

print("Arquivo JSON 'dados.json' foi criado com sucesso usando UTF-8.")

Arquivo JSON 'dados.json' foi criado com sucesso usando UTF-8.

# Criando as submissões por aluno

In [23]:
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import bindparam
import pandas as pd

In [24]:
SQL_CONNECTOR = 'mysql+pymysql://root:admin@localhost:3306/lop2teste'
engine = create_engine(SQL_CONNECTOR)
con = engine.connect()

In [25]:
def criacao_da_turma(turma,con):
    query = text("SELECT createdAt FROM lop2teste.class where id = :turma").bindparams(turma = turma)
    data_de_criacao = pd.read_sql(query,con)
    return data_de_criacao

In [26]:
data = criacao_da_turma("8813d508-dc24-47e2-a33f-8d2ca66cab29",con)
data.createdAt.unique()[0]

Timestamp('2024-02-26 02:30:11')

In [27]:
def submissoes_por_data(data_da_turma,turma,con):
    query = text("SELECT id,createdAt,user_id from submission where createdAt > :data_da_turma and class_id = :turma").bindparams(data_da_turma = f'{data_da_turma}',turma = turma)
    submissoes_desde_criacao = pd.read_sql(query,con)
    return submissoes_desde_criacao

In [28]:
turma = "8813d508-dc24-47e2-a33f-8d2ca66cab29"

In [30]:
def alunos_por_classe(classes,con):
    query = text("SELECT id,enrollment,user_id,class_id FROM classHasUser where class_id = :id_classe").bindparams(id_classe = classes)
    alunos = pd.read_sql(query,con)
    return alunos

In [31]:
submissoes_desde_criacao = submissoes_por_data(data.createdAt.unique()[0],turma,con)
submissoes_desde_criacao.head()

,id,createdAt,user_id
0,0000e551-7440-469b-bd42-632168369f06,2024-04-05 20:00:19,2e321555-ab39-412c-8fcf-bcbd5190176d
1,0000f180-c904-4f7f-b5f3-341fb4efb1f0,2024-04-03 17:48:13,ca2160d8-4a8f-4a4c-8368-24dac6bf0107
2,00010133-49e9-49ef-ad95-13d15b6ebbb1,2024-03-16 18:24:45,761b93d2-c13a-488c-9f82-b6bcabd59e16
3,000447ac-25db-47c4-86f7-e2f789d94f44,2024-03-05 01:53:03,219cda96-a590-4794-a539-45eb5d0d81ba
4,00048f88-60c9-48ad-8e55-542c30783cbd,2024-03-19 14:52:52,d13069d4-68e1-46d2-bbef-279a7258a214

In [33]:
submissoes_desde_criacao.createdAt = submissoes_desde_criacao.createdAt.dt.date

In [34]:
submissoes_desde_criacao['createdAt'] = pd.to_datetime(submissoes_desde_criacao['createdAt'])

In [35]:
submissoes_desde_criacao = submissoes_desde_criacao.sort_values(by='createdAt')

In [36]:
submissoes_desde_criacao.head()

,id,createdAt,user_id
41834,e6bed048-b3fb-4e48-b864-6c09c42053b8,2024-02-28,586a6729-0441-40ab-a05b-6e83bf84f865
26683,92dcd294-a15c-42aa-b846-655d92bb6dd9,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
30037,a5790cb7-b119-439c-af4f-acc16c33fd08,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
17384,5fcf295b-5e88-4c78-87f8-845c71d3cc9b,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
32324,b2055505-c851-4a9f-8cfa-ec6aa14c7dc7,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2

In [32]:
alunos = alunos_por_classe(turma,con)
alunos.head()

,id,enrollment,user_id,class_id
0,01c4654f-d434-438a-9acb-9c89a3ab745d,20240008987,c6ce5d7f-c3bf-4a24-b7e5-307d476f6507,8813d508-dc24-47e2-a33f-8d2ca66cab29
1,0730fc1d-7553-4537-a6a6-f6c37d8f893e,20240047180,d13069d4-68e1-46d2-bbef-279a7258a214,8813d508-dc24-47e2-a33f-8d2ca66cab29
2,09f438a9-17ad-4b3f-96c2-267d26b25730,20240013771,526fc64d-54d3-46a9-9260-fcdc92b97f9e,8813d508-dc24-47e2-a33f-8d2ca66cab29
3,0adc04e6-9624-458c-9323-a3256f598a92,20240016610,1e020022-8c20-45d4-8ce0-595bbe01a2b3,8813d508-dc24-47e2-a33f-8d2ca66cab29
4,0bf84b68-7f13-4070-8f10-3c2b35dfc168,20240014984,51497b50-c8ed-47bb-8186-29c1ba02094b,8813d508-dc24-47e2-a33f-8d2ca66cab29

In [37]:
teste = submissoes_desde_criacao.query("user_id == '586a6729-0441-40ab-a05b-6e83bf84f865'")

In [38]:
teste

,id,createdAt,user_id
41834,e6bed048-b3fb-4e48-b864-6c09c42053b8,2024-02-28,586a6729-0441-40ab-a05b-6e83bf84f865
6070,21968475-d13a-4e30-98d8-3fb963838fa5,2024-03-04,586a6729-0441-40ab-a05b-6e83bf84f865
38388,d39dd364-93af-4208-a55d-d46e69f7657b,2024-03-04,586a6729-0441-40ab-a05b-6e83bf84f865
2912,10123803-58fa-46ef-8eb7-f6c71522caec,2024-03-04,586a6729-0441-40ab-a05b-6e83bf84f865
15250,541c7c61-04fc-4e8c-9486-d9f3b7248c63,2024-03-04,586a6729-0441-40ab-a05b-6e83bf84f865
...,...,...,...
31238,ac1798e4-7374-4950-9196-5b0f06425aba,2024-04-01,586a6729-0441-40ab-a05b-6e83bf84f865
5278,1d3578c1-3a52-478e-9aff-ae9cd1632a40,2024-04-01,586a6729-0441-40ab-a05b-6e83bf84f865
10863,3c548fb8-37d1-4aad-a066-7cc9f40b49d4,2024-04-02,586a6729-0441-40ab-a05b-6e83bf84f865
2776,0f41026d-deef-4519-8ccc-4ce404ef924e,2024-04-02,586a6729-0441-40ab-a05b-6e83bf84f865
24746,882047a4-7a59-441c-84fe-d715c2a29734,2024-04-02,586a6729-0441-40ab-a05b-6e83bf84f865

In [66]:
def submissoes_por_dia_por_aluno(aluno):
    df = pd.DataFrame(columns = ['data','qnt_de_submissoes'])
    linhas = 0
    for data in aluno.createdAt.unique():
        quantidade = aluno.query(f"createdAt == '{data}'").id.nunique()
        resultado = [data,quantidade]
        df.loc[linhas] = resultado
        linhas+=1
    return df

In [69]:
submissoes = submissoes_por_dia_por_aluno(teste)

In [70]:
submissoes

        data  qnt_de_submissoes
0 2024-02-28                  1
1 2024-03-04                 31
2 2024-03-21                 11
3 2024-03-25                 31
4 2024-04-01                 13
5 2024-04-02                  3

In [49]:
submissoes.to_csv('submissoes_por_dia_de_um_aluno.csv',index = False, sep = ',')

# Transformando em json

In [50]:
turma = "8813d508-dc24-47e2-a33f-8d2ca66cab29"

In [55]:
submissoes_desde_criacao.head()

,id,createdAt,user_id
41834,e6bed048-b3fb-4e48-b864-6c09c42053b8,2024-02-28,586a6729-0441-40ab-a05b-6e83bf84f865
26683,92dcd294-a15c-42aa-b846-655d92bb6dd9,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
30037,a5790cb7-b119-439c-af4f-acc16c33fd08,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
17384,5fcf295b-5e88-4c78-87f8-845c71d3cc9b,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2
32324,b2055505-c851-4a9f-8cfa-ec6aa14c7dc7,2024-02-29,a058d605-bcd2-41ad-a204-c4c05916ace2

In [52]:
alunos.head()

,id,enrollment,user_id,class_id
0,01c4654f-d434-438a-9acb-9c89a3ab745d,20240008987,c6ce5d7f-c3bf-4a24-b7e5-307d476f6507,8813d508-dc24-47e2-a33f-8d2ca66cab29
1,0730fc1d-7553-4537-a6a6-f6c37d8f893e,20240047180,d13069d4-68e1-46d2-bbef-279a7258a214,8813d508-dc24-47e2-a33f-8d2ca66cab29
2,09f438a9-17ad-4b3f-96c2-267d26b25730,20240013771,526fc64d-54d3-46a9-9260-fcdc92b97f9e,8813d508-dc24-47e2-a33f-8d2ca66cab29
3,0adc04e6-9624-458c-9323-a3256f598a92,20240016610,1e020022-8c20-45d4-8ce0-595bbe01a2b3,8813d508-dc24-47e2-a33f-8d2ca66cab29
4,0bf84b68-7f13-4070-8f10-3c2b35dfc168,20240014984,51497b50-c8ed-47bb-8186-29c1ba02094b,8813d508-dc24-47e2-a33f-8d2ca66cab29

In [83]:
lista_geral = []
for aluno in range(len(alunos)):
    dict_submissoes_aluno = dict()
    aluno_tratado = submissoes_desde_criacao.query(f"user_id == '{alunos.loc[aluno].user_id}'")
    submissoes_aluno = submissoes_por_dia_por_aluno(aluno_tratado)
    dict_submissoes_aluno['class_id'] = turma
    dict_submissoes_aluno['user_id'] = alunos.loc[aluno].user_id
    dict_submissoes_aluno['enrollment'] = alunos.loc[aluno].enrollment
    dict_submissoes_aluno['submissions_for_day'] = []
    for por_dia in range(len(submissoes_aluno.data.unique())):
        dict_for_datas = dict()
        dict_for_datas['day'] = str(submissoes_aluno.loc[por_dia].data)
        dict_for_datas['submissions'] = str(submissoes_aluno.loc[por_dia].qnt_de_submissoes)
        dict_submissoes_aluno['submissions_for_day'].append(dict_for_datas)

    lista_geral.append(dict_submissoes_aluno)

In [85]:
with open('submissoes_por_dia_do_aluno.json', 'w', encoding='utf-8') as f:
    json.dump(lista_geral, f, ensure_ascii=False, indent=4)

print("Arquivo JSON 'dados.json' foi criado com sucesso usando UTF-8.")

Arquivo JSON 'dados.json' foi criado com sucesso usando UTF-8.

In [86]:
con.close()