In [2]:
list_id01 = '4f3452ae-87d4-4a5f-9532-c7634da2cff0'
list_id02 = '70e6c800-7583-485d-ac9f-9c42c48dd785'
list_id03 = '42d5c4ad-7b44-4e4e-b2e5-2997785132c8'

list_id13 = '93cd33c4-109a-401e-87e9-e26ff5929d37'
list_id14 = 'c4d09d1b-73a5-45c6-8a0d-ead669114b65'
list_id15 = '1551e3ed-c875-4bb3-8e4e-58407df40776'

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import bindparam
import pandas as pd

In [5]:
def pegar_classes(ano):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM lop2teste.class where year >= :ano and year < 2024").bindparams(ano = ano)
    classes = pd.read_sql(query,con)
    con.close()
    return classes

In [6]:
classes_totais = pegar_classes('2022')
#pegando apenas as classes de 2022 até 2023.2

In [7]:
def pegar_lista_classe(lista):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM lop2teste.classhaslistquestion where list_id = :lista").bindparams(lista = lista)
    listas = pd.read_sql(query,con)
    con.close()
    return listas

In [8]:
classe_lista01 = pegar_lista_classe(list_id01)
classe_lista02 = pegar_lista_classe(list_id02)
classe_lista15 = pegar_lista_classe(list_id15)
#pegando a lista por classe

In [9]:
#pegando apenas as turmas que fizeram a primeira, segunda e ultima lista
classes_uteis = []
for i in range(len(classes_totais.id.unique())):
    if classes_totais.id.unique()[i] in classe_lista01.class_id.unique() and classes_totais.id.unique()[i] in classe_lista02.class_id.unique() and classes_totais.id.unique()[i] in classe_lista15.class_id.unique():
        classes_uteis.append(classes_totais.id.unique()[i])

In [ ]:
classes_uteis
#Classes entre de 2022.1 a 2023.2

In [11]:
def pegar_alunos_classe(id_classe):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM lop2teste.classhasuser where class_id = :id_classe").bindparams(id_classe = id_classe)
    alunos = pd.read_sql(query,con)
    con.close()
    return alunos
# Essa função retorna os alunos de uma classe

In [12]:
def submissoes_alunos(id_estudante,id_lista,id_classe):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM Submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class AND user_id = :id_aluno").bindparams(id_list_question = id_lista,id_class = id_classe,id_aluno = id_estudante)
    submissoes_alunos = pd.read_sql(query,con)
    con.close()
    return submissoes_alunos
# Essa função retorna as submissões de um aluno, de uma classe e uma lista específica

In [13]:
def questoes(id_lista):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * from listhasquestion where list_id = :list_id").bindparams(list_id = id_lista)
    questoes = pd.read_sql(query,con)
    con.close()
    return questoes
# Essa função retorna as questões da lista, para mais na frente ser usado como termo de comparação para a quantidade de questões
# da lista

In [14]:
def submissoes_totais(id_classe,id_lista):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class").bindparams(id_list_question = id_lista,id_class = id_classe)
    submissoes_totais = pd.read_sql(query,con)
    con.close()
    return submissoes_totais
# Essa função retorna as submissões totais de uma classe em uma lista específica

In [15]:
def acertos_da_lista(aluno):
    aluno = aluno.query('hitPercentage == 100')
    acertos = aluno.question_id.unique()
    acertos = len(acertos)
    return acertos
# Essa função recebe um DataFrame de aluno com todas as suas submissões em uma lista, e 
#retorna apenas os acertos por questão

In [16]:
tabela_metricas = pd.DataFrame(columns = ['id_user','class_id','enrollment','submissions_list01','QuestionsList_list01','HitsCorrects_list01','submissions_mean_list01','wrong_list01','partially_wrong_list01',
           'Submissions_Corrects_list01','TimeAll_list01','TimeMean_list01','TimeSD_list01','Percentage_hit_list01','submitted_list01','submissions_list02','QuestionsList_list02','HitsCorrects_list02','submissions_mean_list02','wrong_list02','partially_wrong_list02',
           'Submissions_Corrects_list02','TimeAll_list02','TimeMean_list02','TimeSD_list02','Percentage_hit_list02','submitted_list02','submissions_list03','QuestionsList_list03','HitsCorrects_list03','submissions_mean_list03','wrong_list03','partially_wrong_list03',
           'Submissions_Corrects_list03','TimeAll_list03','TimeMean_list03','TimeSD_list03','Percentage_hit_list03','submitted_list03','submitted_list13','submitted_list14','submitted_list15'])
# Montando o dataFrame com as colunas das listas

In [17]:
# Essa função recebe um dataFrame contendo as submissões de um aluno em uma lista específica, e a quantidade de questões de uma lista
# Ela retorna uma lista com todos os parâmetros usados no dataFrame calculados para essa lista
def dados_alunos(aluno,questoes_lista):
    if aluno.id.nunique() == 0:
        submissao = 0
        numero_de_questoes = questoes_lista
        acertos = 0
        media_submissoes = 0
        totalmente_erradas = 0
        parcialmente_erradas = 0
        totalmente_certas = 0
        tempo_total_gasto = 0
        tempo_medio_gasto = 0
        tempo_desvio_padrao = 0
        percentual_questoes_certas = 0
        submeteu = 0 
    else:
        #aluno.hitPercentage = pd.to_numeric(aluno.hitPercentage,errors = 'coerce')
        submissao = aluno.id.nunique()
        numero_de_questoes = questoes_lista
        acertos = acertos_da_lista(aluno)
        media_submissoes = aluno.hitPercentage.mean()
        totalmente_erradas = aluno.query('hitPercentage == 0').id.nunique()
        parcialmente_erradas = aluno.query('hitPercentage > 0 and hitPercentage < 100').id.nunique()
        totalmente_certas = aluno.query('hitPercentage == 100').id.nunique()
        tempo_total_gasto = aluno.timeConsuming.sum()
        tempo_medio_gasto = aluno.timeConsuming.mean()
        tempo_desvio_padrao = aluno.timeConsuming.std()
        percentual_questoes_certas = ((acertos*100)/numero_de_questoes)
        submeteu = 1
    
    return [submissao,numero_de_questoes,acertos,media_submissoes,caracteres_por_lista,totalmente_erradas,parcialmente_erradas,
           totalmente_certas,tempo_total_gasto,tempo_medio_gasto,tempo_desvio_padrao,percentual_questoes_certas,submeteu]

In [ ]:
cont = 0
# Aqui utilizo todas as funções para montar a tabela
for i in range(len(classes_uteis)):
    alunos = pegar_alunos_classe(classes_uteis[i])
    questoes_lista01 = questoes(list_id01)
    questoes_lista02 = questoes(list_id02)
    questoes_lista03 = questoes(list_id03)
    
    questoes_lista13 = questoes(list_id13)
    questoes_lista14 = questoes(list_id14)
    questoes_lista15 = questoes(list_id15)
    
    submissoes_lista01 = submissoes_totais(classes_uteis[i],list_id01)
    submissoes_lista02 = submissoes_totais(classes_uteis[i],list_id02)
    submissoes_lista03 = submissoes_totais(classes_uteis[i],list_id03)
    
    submissoes_lista13 = submissoes_totais(classes_uteis[i],list_id13)
    submissoes_lista14 = submissoes_totais(classes_uteis[i],list_id14)
    submissoes_lista15 = submissoes_totais(classes_uteis[i],list_id15)
    for j in range(len(alunos.id.unique())):
        #if alunos.user_id.unique()[j] not in submissoes_lista01.user_id.unique() and alunos.user_id().unique()[j] not in submissoes_lista02.user_id.unique():
        #    metricas = [alunos.user_id.unique()[j],alunos.class_id.unique()[i],alunos.enrollment.unique()[j],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        #else:
        lista01 = submissoes_alunos(alunos.loc[j].user_id,list_id01,classes_uteis[i])
        lista02 = submissoes_alunos(alunos.loc[j].user_id,list_id02,classes_uteis[i])
        lista03 = submissoes_alunos(alunos.loc[j].user_id,list_id03,classes_uteis[i])
        
        lista13 = submissoes_alunos(alunos.loc[j].user_id,list_id13,classes_uteis[i])
        lista14 = submissoes_alunos(alunos.loc[j].user_id,list_id14,classes_uteis[i])
        lista15 = submissoes_alunos(alunos.loc[j].user_id,list_id15,classes_uteis[i])
        
        dados_lista01 = dados_alunos(lista01,questoes_lista01.id.nunique())
        dados_lista02 = dados_alunos(lista02,questoes_lista02.id.nunique())
        dados_lista03 = dados_alunos(lista03,questoes_lista03.id.nunique())
        
        dados_lista13 = dados_alunos(lista13,questoes_lista13.id.nunique())
        dados_lista14 = dados_alunos(lista14,questoes_lista14.id.nunique())
        dados_lista15 = dados_alunos(lista15,questoes_lista15.id.nunique())
        metricas = [alunos.loc[j].user_id,alunos.loc[j].class_id,alunos.loc[j].enrollment]
        for n in range(len(dados_lista01)):
            metricas.append(dados_lista01[n])
        for n in range(len(dados_lista02)):
            metricas.append(dados_lista02[n])
        for n in range(len(dados_lista03)):
            metricas.append(dados_lista03[n])
            
        metricas.append(dados_lista13[11])
        metricas.append(dados_lista14[11])
        metricas.append(dados_lista15[11])
        tabela_metricas.loc[cont] = metricas
        cont += 1
tabela_metricas

In [19]:
pd.set_option('display.max_columns',50)

In [19]:
tabela_metricas.to_csv('tabela_lista01_02_03_lista13_14_15.csv',index = False,sep = ',')

In [ ]:
tabela_metricas

# Testando outline

In [9]:
def hits_alunos_da_classe(id_classe):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT hitPercentage,user_id,class_id,question_id FROM lop2teste.submissionstats where class_id = :id_classe").bindparams(id_classe = id_classe)
    alunos = pd.read_sql(query,con)
    con.close()
    return alunos

In [10]:
df_alunos_hits = pd.DataFrame(columns = ['user_id','class_id','question_id','hitPercentage'])

In [ ]:
classes_uteis

In [12]:
auxiliar = 0
for i in range(len(classes_uteis)):
    submissao_classe = hits_alunos_da_classe(classes_uteis[i])
    for j in range(len(submissao_classe)):
        df_alunos_hits.loc[auxiliar] = [submissao_classe.loc[j].user_id,submissao_classe.loc[j].class_id,submissao_classe.loc[j].question_id,submissao_classe.loc[j].hitPercentage]
        auxiliar+=1

# Testando nova como pegar nova métrica

In [3]:
aluno = 'a1f0ffc7-6163-4dad-b0c1-f4596fb09665'
turma = '00ec3404-1d29-40d4-b39c-02ba665c2643'

In [4]:
def submissoes_alunos(id_estudante,id_lista,id_classe):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM Submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class AND user_id = :id_aluno").bindparams(id_list_question = id_lista,id_class = id_classe,id_aluno = id_estudante)
    submissoes_alunos = pd.read_sql(query,con)
    con.close()
    return submissoes_alunos

In [5]:
aluno_caracter = submissoes_alunos(aluno,list_id01,turma)

In [ ]:
aluno_caracter.answer.unique()[1]

In [10]:
def soma_de_caracter(aluno):
    soma_caracter = 0
    for i in range(len(aluno_caracter.answer.unique())):
        tamanho_da_string = len(aluno_caracter.answer.unique()[i])
        soma_caracter = soma_caracter + tamanho_da_string
    return soma_caracter

In [ ]:
testando_soma = soma_de_caracter(aluno_caracter)
testando_soma