In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import bindparam
from sqlalchemy.pool import NullPool
import pandas as pd

In [2]:
SQL_CONNECTION = 'mysql+pymysql://root:admin@localhost:3306/lop2teste'
list_id01 = '4f3452ae-87d4-4a5f-9532-c7634da2cff0'
list_id02 = '70e6c800-7583-485d-ac9f-9c42c48dd785'
list_id03 = '42d5c4ad-7b44-4e4e-b2e5-2997785132c8'

list_id04 = 'dbfcc83c-f014-44ae-8260-f06d4e1370ba'
list_id05 = '70d1aa7e-00cb-4428-892f-9ac67cc50449'
list_id06 = 'f5b1d992-68de-4854-97d8-c4bd84bd593b'

list_id07 = 'dd1cd083-6c00-4605-9ff1-163bd4069363'
list_id08 = '0a2c49a2-482c-40d7-bc44-ee368f089560'
list_id09 = 'aca84206-87b2-4478-afa4-6193119cc06a'

list_id10 = '34691c68-f01d-46ad-808d-6bbd44bcd9a2'
list_id11 = '813dedaa-0989-489b-9804-3850ae4b83d1'
list_id12 = 'f5bc770d-2ac7-4060-ab1c-e42b5541f7a7'


list_id13 = '93cd33c4-109a-401e-87e9-e26ff5929d37'
list_id14 = 'c4d09d1b-73a5-45c6-8a0d-ead669114b65'
list_id15 = '1551e3ed-c875-4bb3-8e4e-58407df40776'

listas = [list_id01,list_id02,list_id03]
listas_finais = [list_id13,list_id14,list_id15]

In [3]:
class ExtracaoDeDados:
    def __init__(self,conect,ano,ano_final,listas,listas_finais):
        # A classe é iniciada pela url de conexão, anos e listas iniciais e finais que queremos gerar a tabela
        self._engine = create_engine(conect)
        self._con = self._engine.connect()

        self.ano = ano
        self.ano_final = ano_final
        self.listas = listas
        self.listas_finais = listas_finais

    def conect_of(self):
        self._con.close()   
        
    #Esse método serve para ser chamado depois que iniciamos o objeto, ele fecha a conexão com o banco
    def classes_por_ano(self):
        
        query = text("SELECT id FROM lop2teste.class where year >= :ano and year <= :ano_final").bindparams(ano = self.ano,ano_final = self.ano_final)
        classes = pd.read_sql(query,self._con)
        return classes
    #Esse método pega as classes dos anos informados na criação do objeto
    def lista_por_classe(self,lista):
        
        query = text("SELECT list_id,class_id FROM lop2teste.classhaslistquestion where list_id = :lista").bindparams(lista = lista)
        listas = pd.read_sql(query,self._con)
        return listas

    # Esse método recebe o id de uma lista e retorna um dataframe com uma coluna de classe e listas
    def classes_com_todas_listas(self):
        classes = self.classes_por_ano()
        listas_de_listas_iniciais = []
        listas_de_listas_finais = []
        classes_iniciais = []
        classes_finais = []
        classes_importantes = []
        
        for i in range(len(self.listas)):
            listas_de_listas_iniciais.append(self.lista_por_classe(self.listas[i]))
        for i in range(len(self.listas_finais)):
            listas_de_listas_finais.append(self.lista_por_classe(self.listas[i]))

        for i in range(len(classes.id.unique())):
            for j in range(len(listas_de_listas_iniciais)):
                if classes.id.unique()[i] in listas_de_listas_iniciais[j].class_id.unique() and classes.id.unique()[i] not in classes_iniciais:
                    classes_iniciais.append(classes.id.unique()[i])
            for j in range(len(listas_de_listas_finais)):
                if classes.id.unique()[i] in listas_de_listas_finais[j].class_id.unique() and classes.id.unique()[i] not in classes_finais:
                    classes_finais.append(classes.id.unique()[i])

        for i in range(len(classes_iniciais)):
            if classes_iniciais[i] in classes_finais:
                classes_importantes.append(classes_iniciais[i])
        return classes_importantes

    #Esse método pega todas as listas informadas e comparara quais estão nas turmas que foram informadas para aquele ano

    def alunos_por_classe(self,classes):
        
        query = text("SELECT id,enrollment,user_id,class_id FROM lop2teste.classhasuser where class_id = :id_classe").bindparams(id_classe = classes)
        alunos = pd.read_sql(query,self._con)
        return alunos
    #Esse método pega todos os alunos de uma classe, retornando um dataframe com o id,matricula,user_id e class_id
    def submissoes_por_alunos(self,id_aluno,id_lista,id_classe):
        
        query = text("SELECT id,hitPercentage,timeConsuming,user_id,question_id,char_change_number,answer FROM Submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class AND user_id = :id_aluno").bindparams(id_list_question = id_lista,id_class = id_classe,id_aluno = id_aluno)
        submissoes_alunos = pd.read_sql(query,self._con)
        return submissoes_alunos
    #Esse método pega as submissões de um aluno de uma classe em uma lista específica
    def questoes_por_lista(self,id_lista):
        
        query = text("SELECT id from listhasquestion where list_id = :list_id").bindparams(list_id = id_lista)
        questoes = pd.read_sql(query,self._con)
        quantidade_questoes = questoes.id.nunique()
        return quantidade_questoes

    #Esse método pega a quantidade de questões que tem uma lista

    def submissoes_por_turma(self,id_classe,id_lista):
        
        query = text("SELECT id,hitPercentage,user_id FROM Submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class").bindparams(id_list_question = id_lista,id_class = id_classe)
        submissoes_totais = pd.read_sql(query,self._con)
        return submissoes_totais
    # Esse método pega as subimssões de uma turma em uma lista ( não utilizei posteriormente porém é uma extração importante)
    def acertos_da_lista(self,aluno):
        aluno = aluno.query('hitPercentage == 100')
        acertos = aluno.question_id.unique()
        acertos = len(acertos)
        return acertos
    #Esse método recebe um dataframe com as submissões de um aluno e retorna a quantidade de acertos que ele teve naquela lista

    def submeteu_lista(self,aluno):
        if aluno.id.nunique() == 0:
            return 0
        else:
            return 1
    #Essa função recebe o dataframe de um aluno e verifica se ele submeteu uma lista ou não

    def caracteres_resposta(self,aluno):
        soma_caracter = 0
        for i in range(len(aluno.answer.unique())):
            tamanho_da_string = len(aluno.answer.unique()[i])
            soma_caracter = soma_caracter + tamanho_da_string
        return soma_caracter
    #Essa função recebe o dataframe de submissões de um estudante em uma lista e retorna o tamanho das respostas 

    def nome_da_lista(self,lista):
        query = text("SELECT title FROM listquestions where id = :id_lista").bindparams(id_lista = lista)
        nome_lista = pd.read_sql(query,self._con)
        return nome_lista
    #Esse método recebe um id de uma lista e retorna o nome dela

    def desempenho_da_turma(self,turma,listas):
        colunas = ['list','hits','parcial','undone']
        turmas_desemp = pd.DataFrame(columns = colunas)
        alunos = self.alunos_por_classe(turma)
        contador = 0
        for lista_na_classe in listas:
            submissoes_da_lista = self.submissoes_por_turma(turma,lista_na_classe)

            nomes_das_listas = self.nome_da_lista(lista_na_classe).title.unique()[0]
            acertos = submissoes_da_lista.query('hitPercentage == 100').user_id.unique()
            parciais_lista = submissoes_da_lista.query('hitPercentage > 1 and hitPercentage < 99').user_id.unique()
            erros_lista = submissoes_da_lista.query('hitPercentage == 0').user_id.unique()

            parciais = []
            erros = []

            for i in range(len(alunos.user_id.unique())):
                if alunos.user_id.unique()[i] not in submissoes_da_lista.user_id.unique():
                    erros.append(alunos.user_id.unique()[i])
                    
            for meio_certas in acertos:
                if meio_certas not in parciais_lista and meio_certas not in erros_lista:
                    parciais.append(meio_certas)

            for erradas in acertos:
                if erradas not in erros_lista and erradas not in parciais_lista:
                    erros.append(erradas)

            turmas_desemp.loc[contador] = [nomes_das_listas,len(acertos),len(parciais),len(erros)]
            contador +=1

        return turmas_desemp
        #Este método requer que insira uma turma e as listas para criar um dataFrame com os dados de acertos por lista
            
            

    def metricas_por_aluno(self,aluno,questoes_lista):
        if aluno.id.nunique() == 0:
            submissao = 0
            numero_de_questoes = questoes_lista
            acertos = 0
            media_submissoes = 0
            totalmente_erradas = 0
            parcialmente_erradas = 0
            totalmente_certas = 0
            tempo_total_gasto = 0
            tempo_medio_gasto = 0
            tempo_desvio_padrao = 0
            percentual_questoes_certas = 0
            sum_char_by_list = 0
            mean_char_by_list = 0
            std_char_by_list = 0
            len_answer = 0
            submeteu = 0 
        else:
            aluno.hitPercentage = pd.to_numeric(aluno.hitPercentage,errors = 'coerce')
            submissao = aluno.id.nunique()
            numero_de_questoes = questoes_lista
            acertos = self.acertos_da_lista(aluno)
            media_submissoes = aluno.hitPercentage.mean()
            totalmente_erradas = aluno.query('hitPercentage == 0').id.nunique()
            parcialmente_erradas = aluno.query('hitPercentage > 0 and hitPercentage < 100').id.nunique()
            totalmente_certas = aluno.query('hitPercentage == 100').id.nunique()
            tempo_total_gasto = aluno.timeConsuming.sum()
            tempo_medio_gasto = aluno.timeConsuming.mean()
            tempo_desvio_padrao = aluno.timeConsuming.std()
            percentual_questoes_certas = ((acertos*100)/numero_de_questoes)
            sum_char_by_list = aluno.char_change_number.sum()
            mean_char_by_list = aluno.char_change_number.mean()
            std_char_by_list = aluno.char_change_number.std()
            len_answer = self.caracteres_resposta(aluno)
            submeteu = 1
    
        return [submissao,numero_de_questoes,acertos,media_submissoes,totalmente_erradas,parcialmente_erradas,
           totalmente_certas,tempo_total_gasto,tempo_medio_gasto,tempo_desvio_padrao,percentual_questoes_certas,sum_char_by_list,mean_char_by_list,std_char_by_list,len_answer,submeteu]
        #Esse método recebe as submissoes de um estudante em uma lista e retorna todas as suas métricas calculadas em uma lista

    def metricas_por_turma(self):
        metrica_basica = ['id_user','class_id','enrollment']
        metricas_das_listas = ['submissions_list','QuestionsList_list','HitsCorrects_list','submissions_mean_list','wrong_list','partially_wrong_list',
           'Submissions_Corrects_list','TimeAll_list','TimeMean_list','TimeSD_list','Percentage_hit_list','sum_char_by_list','mean_char_by_list','std_char_by_list','len_answer','submitted_list']
        for i in range(len(self.listas)):
            for j in range(len(metricas_das_listas)):
                metrica_basica.append(f'{metricas_das_listas[j]}0{i+1}')
        for i in range(len(self.listas_finais)):
            metrica_basica.append(f'submitted_list_final0{i+1}')
        tabela = pd.DataFrame(columns = metrica_basica)
        linha = 0
        for i in range(len(self.classes_com_todas_listas())):
            alunos_de_cada_classe = self.alunos_por_classe(self.classes_com_todas_listas()[i])      
            questoes_listas_iniciais = [self.questoes_por_lista(self.listas[j]) for j in range(len(self.listas))]
            #questoes_listas_finais = [self.questoes_por_lista(self.listas_finais[j]) for j in range(len(self.listas_finais))]

            for j in range(len(alunos_de_cada_classe.id.unique())):
                submissoes_listas_iniciais = [self.submissoes_por_alunos(alunos_de_cada_classe.loc[j].user_id,self.listas[lista],self.classes_com_todas_listas()[i]) for lista in range(len(self.listas))]
                submissoes_listas_finais = [self.submissoes_por_alunos(alunos_de_cada_classe.loc[j].user_id,self.listas_finais[lista],self.classes_com_todas_listas()[i]) for lista in range(len(self.listas_finais))]

                dados_das_listas_iniciais = [self.metricas_por_aluno(submissoes_listas_iniciais[lista],questoes_listas_iniciais[lista]) for lista in range(len(self.listas))]
                dados_das_listas_finais = [self.submeteu_lista(submissoes_listas_finais[lista]) for lista in range(len(self.listas_finais))]

                metricas_aluno = [alunos_de_cada_classe.loc[j].user_id,alunos_de_cada_classe.loc[j].class_id,alunos_de_cada_classe.loc[j].enrollment]
                
                for listas in range(len(dados_das_listas_iniciais)):
                    for metricas in dados_das_listas_iniciais[listas]:
                        metricas_aluno.append(metricas)
                for lista in range(len(dados_das_listas_finais)):
                    metricas_aluno.append(dados_das_listas_finais[lista])

                tabela.loc[linha] = metricas_aluno
                linha +=1
        return tabela

    #Esse método é inicializado para gerar a tabela com os dados informados no construtor. Com ele as colunas sao geradas, e são utulizados os outros métodos da classe para a geração
    # Da tabela

In [4]:
teste_objeto = ExtracaoDeDados(SQL_CONNECTION,2024,2024,listas,listas_finais)

In [44]:
classes_usadas = teste_objeto.classes_com_todas_listas()
# Deve retornar as classes que tem em comum as primeiras e ultimas listas

In [46]:
metricas_teste = teste_objeto.metricas_por_turma()
#Tabela com as métricas

In [80]:
questoes_teste = teste_objeto.questoes_por_lista(list_id03)
# teste para quantidade de questões na lista

In [5]:
tabela_exemplo = teste_objeto.metricas_por_turma()
tabela_exemplo

,id_user,class_id,enrollment,submissions_list01,QuestionsList_list01,HitsCorrects_list01,submissions_mean_list01,wrong_list01,partially_wrong_list01,Submissions_Corrects_list01,...,TimeSD_list03,Percentage_hit_list03,sum_char_by_list03,mean_char_by_list03,std_char_by_list03,len_answer03,submitted_list03,submitted_list_final01,submitted_list_final02,submitted_list_final03
0,e2f63a9d-33cc-4014-8828-6a1bdfa65384,392241f2-fc36-43b5-9e56-ec47c3526f9c,20230064060,28,5,5,22.321429,18,5,5,...,2.923500e+05,100.000000,13972,174.650000,71.231322,9838,1,0,0,0
1,82bbba84-eca3-458f-8f36-4aa42eef3954,392241f2-fc36-43b5-9e56-ec47c3526f9c,20230081642,39,5,5,19.871795,26,7,6,...,5.311229e+05,100.000000,20851,320.784615,182.273103,13048,1,0,0,0
2,91e27d7a-8259-4d1f-9146-a151e95ad27e,392241f2-fc36-43b5-9e56-ec47c3526f9c,20240033095,87,5,5,35.632184,55,2,30,...,3.255038e+07,100.000000,21114,346.131148,288.448983,34682,1,1,1,1
3,3fbd765c-f12d-46ae-a875-143d5ee46ed6,392241f2-fc36-43b5-9e56-ec47c3526f9c,20240048131,32,5,5,16.406250,26,1,5,...,6.328290e+05,100.000000,53917,528.598039,391.013136,15570,1,1,1,1
4,c530effd-8c2c-4e5e-aab3-cf6bce67635a,392241f2-fc36-43b5-9e56-ec47c3526f9c,66e195cd7c,33,5,5,30.303030,23,0,10,...,3.530069e+05,100.000000,26383,280.670213,165.888834,12869,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,f8a9b0db-8fac-406a-b19a-6f3e6a4e4ae9,cc7413b4-eb85-424d-be24-292347af6e0c,20230024904,38,5,5,18.421053,31,0,7,...,1.541642e+06,100.000000,38481,366.485714,215.180609,21629,1,0,1,0
731,0faf2c4a-a9e1-4c5e-b1c5-b33a1b29566b,cc7413b4-eb85-424d-be24-292347af6e0c,20240041720,0,5,0,0.000000,0,0,0,...,0.000000e+00,0.000000,0,0.000000,0.000000,0,0,0,0,0
732,25fb5804-151f-42fc-a63e-2b5412007faf,cc7413b4-eb85-424d-be24-292347af6e0c,20240069525,1,5,0,0.000000,1,0,0,...,0.000000e+00,0.000000,0,0.000000,0.000000,0,0,0,0,0
733,9890507b-14b4-4333-993b-50c3566d8d1f,cc7413b4-eb85-424d-be24-292347af6e0c,20240054219,43,5,5,19.186047,34,1,8,...,2.536790e+05,100.000000,22191,291.986842,202.795101,11963,1,0,0,0
734,d3a84e7e-858e-4080-87f2-2cfb8c6980c3,cc7413b4-eb85-424d-be24-292347af6e0c,None,43,5,1,13.953488,37,0,6,...,1.709532e+06,16.666667,13593,453.100000,309.338153,3979,1,1,0,1

In [6]:
teste_objeto.conect_of()

In [107]:
turma = '8813d508-dc24-47e2-a33f-8d2ca66cab29'
listas = [list_id01,list_id02,list_id03,list_id04,list_id05,list_id06,list_id07,list_id08,list_id09,list_id10,list_id11,list_id12,list_id13,list_id14,list_id15]
desempenho_da_turma = teste_objeto.desempenho_da_turma(turma,listas)
teste_objeto.conect_of()

In [109]:
desempenho_da_turma.to_csv('tabela_desempenho_da_turma.csv',index = False,sep = ',')

In [108]:
desempenho_da_turma

                                                 list  hits  parcial  undone
0      Expressões Aritméticas - Lista Resolvida (LOP)   130        2       8
1        Expressões Aritméticas - Lista Prática (LOP)   123        0      11
2   Expressões Aritméticas - Lista de Exercícios (...   109        2      25
3       Estruturas de Decisão - Lista Resolvida (LOP)   116        2      21
4         Estruturas de Decisão - Lista Prática (LOP)   104        1      30
5   Estruturas de Decisão - Lista de Exercícios (LOP)    91        1      45
6       Repetição condicional - Lista Resolvida (LOP)   102        1      35
7         Repetição condicional - Lista Prática (LOP)    85        2      46
8   Repetição condicional - Lista de Exercícios (LOP)    49        2      86
9           Repetição contada - Lista Resolvida (LOP)    32        0     103
10            Repetição contada - Lista Prática (LOP)    29        1     106
11      Repetição contada - Lista de Exercícios (LOP)    22        1     115
12                    Vetores - Lista Resolvida (LOP)    17        2     119
13                      Vetores - Lista Prática (LOP)    15        2     123
14                Vetores - Lista de Exercícios (LOP)    15        2     123

In [60]:
desempenho_da_turma.to_csv('turmas_por_submissao.csv',index = False,sep=',')

In [83]:
desempenho_da_turma.user_id.nunique()

136

In [7]:
tabela_exemplo = tabela_exemplo.query("class_id == '8813d508-dc24-47e2-a33f-8d2ca66cab29'")

In [12]:
pd.set_option('display.max_columns',None)

In [13]:
tabela_exemplo

,id_user,class_id,enrollment,submissions_list01,QuestionsList_list01,HitsCorrects_list01,submissions_mean_list01,wrong_list01,partially_wrong_list01,Submissions_Corrects_list01,TimeAll_list01,TimeMean_list01,TimeSD_list01,Percentage_hit_list01,sum_char_by_list01,mean_char_by_list01,std_char_by_list01,len_answer01,submitted_list01,submissions_list02,QuestionsList_list02,HitsCorrects_list02,submissions_mean_list02,wrong_list02,partially_wrong_list02,Submissions_Corrects_list02,TimeAll_list02,TimeMean_list02,TimeSD_list02,Percentage_hit_list02,sum_char_by_list02,mean_char_by_list02,std_char_by_list02,len_answer02,submitted_list02,submissions_list03,QuestionsList_list03,HitsCorrects_list03,submissions_mean_list03,wrong_list03,partially_wrong_list03,Submissions_Corrects_list03,TimeAll_list03,TimeMean_list03,TimeSD_list03,Percentage_hit_list03,sum_char_by_list03,mean_char_by_list03,std_char_by_list03,len_answer03,submitted_list03,submitted_list_final01,submitted_list_final02,submitted_list_final03
231,c6ce5d7f-c3bf-4a24-b7e5-307d476f6507,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240008987,33,5,5,39.393939,20,0,13,13111540,3.973194e+05,3.097420e+05,100.0,4931,149.424242,118.092927,1688,1,52,10,10,23.076923,40,0,12,11244904,2.162482e+05,1.157443e+05,100.0,7401,142.326923,80.730664,3816,1,73,12,11,17.465753,60,1,12,60923860,8.345734e+05,7.098719e+05,91.666667,14554,199.369863,118.024069,7796,1,0,0,0
232,d13069d4-68e1-46d2-bbef-279a7258a214,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240047180,161,5,5,5.900621,141,14,6,420675088,2.612889e+06,1.660945e+06,100.0,147787,917.931677,590.438969,20171,1,141,10,10,13.356879,97,34,10,379343820,2.690382e+06,1.950510e+06,100.0,68307,484.446809,325.533352,19372,1,183,12,12,7.240437,166,5,12,479640070,2.620984e+06,2.664820e+06,100.000000,80632,440.612022,257.153260,21170,1,0,0,0
233,526fc64d-54d3-46a9-9260-fcdc92b97f9e,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240013771,38,5,5,18.421053,31,0,7,13459325,3.541928e+05,2.172640e+05,100.0,7516,197.789474,88.690826,2088,1,33,10,10,39.393939,20,0,13,8912726,2.700826e+05,1.713024e+05,100.0,5762,174.606061,102.278706,2490,1,81,12,12,21.399136,60,9,12,68071773,8.403923e+05,7.006251e+05,100.000000,24476,302.172840,161.179930,9032,1,0,0,0
234,1e020022-8c20-45d4-8ce0-595bbe01a2b3,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240016610,53,5,5,11.320755,44,4,5,18475977,3.486033e+05,2.687187e+05,100.0,8734,164.792453,152.540456,2907,1,40,10,10,27.500000,29,0,11,12418579,3.104645e+05,2.851105e+05,100.0,4591,114.775000,77.965307,2729,1,59,12,12,30.084746,40,5,14,16664640,2.824515e+05,1.721023e+05,100.000000,7946,134.677966,79.085166,6128,1,1,1,1
235,51497b50-c8ed-47bb-8186-29c1ba02094b,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240014984,18,5,5,29.166667,12,1,5,5031970,2.795539e+05,2.158901e+05,100.0,1757,97.611111,44.890899,1439,1,30,10,10,36.666667,19,0,11,12635632,4.211877e+05,3.428103e+05,100.0,4190,139.666667,45.126132,2838,1,32,12,12,53.906250,13,7,12,10882663,3.400832e+05,2.163328e+05,100.000000,5253,164.156250,68.669432,5871,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,b23d1d5e-8acf-4b11-b2b9-53ebdc3fde45,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240010330,64,5,5,14.062500,52,4,8,47578494,7.434140e+05,5.539219e+05,100.0,25619,400.296875,318.292452,6237,1,41,10,10,31.707317,28,0,13,20714941,5.052425e+05,5.382124e+05,100.0,10620,259.024390,150.643202,4209,1,63,12,12,28.042222,44,2,17,14831976,2.354282e+05,2.132525e+05,100.000000,9821,155.888889,110.322418,8079,1,0,0,0
363,7395f382-4e51-46f4-8f11-4bc56e20366a,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240021281,24,5,5,25.000000,18,0,6,15353501,6.397292e+05,3.229831e+05,100.0,3334,138.916667,75.586355,1184,1,44,10,6,13.636364,38,0,6,25500257,5.795513e+05,3.877410e+05,60.0,4720,107.272727,82.272763,4575,1,16,12,3,25.000000,12,0,4,8539400,5.337125e+05,5.068869e+05,25.000000,2822,176.375000,75.431978,1342,1,0,0,0
364,a97ad784-80ac-461c-a38e-7e1ea73aa4f8,8813d508-dc24-47e2-a33f-8d2ca66cab29,20240013815,12,5,5,54.166667,4,2,6,924319,7.702658e+04,3.327321e+04,100.0,879,73.250000,12.410589,755,1,14,10,10,71.428571,4,0,10,981561,7.011150e+04,2.720532e+04,100.0,876,62.571429,20.228367,1008,1,30,12,12,46.666667,15,2,13,3427438,1.142479e+05,7.219953e+04,100.000000,2237,74.566667,39.015190,3306,1,0,0,0
365,8f76f1fd-0b21-43dd-b6ab-1d77506e8021,8813d508-dc24-47e2-a33f-8d2ca66cab29,202200779222,7,5,5,71.428571,2,0,5,796058,1.137226e+05,4.496052e+04,100.0,515,73.571429,30.778007,615,1,15,10,10,80.000000,3,0,12,4257216,2.838144e+05,3.977468e+05,100.0,2292,152.800000,86.964032,1896,1,19,12,12,63.157895,7,0,12,3819084,2.010044e+05,9.200107e+04,100.000000,3011,158.473684,62.223047,2954,1,0,0,0
366,9499687e-eb7d-47f1-8719-e817a9a16832,8813d508-dc24-47e2-a33f-8d2ca66cab29,20230092000,39,5,5,25.641026,29,0,10,21323630,5.467597e+05,3.597261e+05,100.0,9962,255.435897,147.355602,4287,1,48,10,10,27.777500,32,4,12,34547442,7.197384e+05,5.194160e+05,100.0,9693,201.937500,58.958119,5192,1,103,12,12,17.718447,79,11,13,29240925,2.838925e+05,2.769337e+06,100.000000,44323,430.320388,256.561471,17204,1,0,0,0

In [14]:
tabela_exemplo.to_csv('tabela_para_predicao.csv',index = False,sep = ',')